//- Page specific vars
block vars

//- Includes
include /includes/mixins/gallery

//- block prepend head || block append head
block head
  meta(charset = "utf-8")
  title #{page.title}
  meta(name="description", content=page.description)
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="/assets/css/style.css")

  meta(name="twitter:title" content=page.title)
  meta(name="twitter:description" content=page.description)
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:creator" content="@bogdanptr")
  meta(name="twitter:site" content="@bogdanptr")
  meta(name="twitter:url" content="http://ptrsc.io/")
  meta(name="twitter:image" content="")

  meta(property="og:title" content=page.title)
  meta(property="og:type" content="website")
  meta(property="og:url" content="http://ptrsc.io/")
  meta(property="og:image" content="")
  meta(property="og:site_name" content="Bogdan Petrescu")
  meta(property="og:description" content=page.description)
