//- Page specific vars
block vars

//- block prepend head || block append head
block head
  meta(charset = "utf-8")
  title #{page.title}
  meta(name="description", content=page.description)
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="/assets/css/style.css")

  meta(property="og:title", content=page.title)
  meta(property="og:description", content=page.description)
  meta(property="og:url", content=page.url)
  meta(property="og:image", content="https://bogdanpetrescu.com/assets/img/bogdanpetrescu-social.png")

  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:site", content="@bogdanptr")
  meta(name="twitter:title", content=page.title)
  meta(name="twitter:description", content=page.description)
  meta(name="twitter:image", content="https://bogdanpetrescu.com/assets/img/bogdanpetrescu-social.png")

  link(rel="icon" href="/favicon.svg" type="image/svg+xml")
  link(rel="icon" href="/favicon.png" type="image/png")

  include /includes/symbols.svg