mixin work(link, img, name)
  .work__wrapper
    a(href=link aria-label="My work").d-flex.justify-content-start
      if block
        block
      img(src=img alt="#{name}").ml-auto.img-fluid

    //- blockquote.media.testimonial&attributes(attributes)
    //-     .media__left
    //-       if img
    //-         img.media__object(src=img, alt="#{name} avatar", width="100", height="100")
    //-     .media__body
    //-       block
    //-       footer
    //-         cite.small
    //-           if name
    //-             strong #{name} -
    //-           if title
    //-             span #{title},
    //-           if company
    //-             if link
    //-              a(href=link) #{company}
    //-             else
    //-               span #{company}
